<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.jsテスト</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <h1>料金は？</h1>
        <label for="under3">3才未満</label>
        <input type="radio" id="under3" v-model="age" value="under3">
        <label for="under13">13才未満</label>
        <input type="radio" id="under13" v-model="age" value="under13">
        <label for="under65">65才未満</label>
        <input type="radio" id="under65" v-model="age" value="under65">
        <label for="over65">65才以上</label>
        <input type="radio" id="over65" v-model="age" value="over65">
        <br>
        <p v-if="fare>=0">{{fare}}円</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/radiobutton1.js"></script>
</body>

</html>